<ol id="social-media-links">
  <li class="chat"><a href="skype:arunagw?chat">Chat?</a></li>
  <li class="github"><a href="https://github.com/{{ site.github_user }}?rel=author">Github</a></li>
  <li class="twitter"><a href="https://twitter.com/{{ site.twitter_user }}?rel=author">Twitter</a></li>
  <li class="likes"><a href="http://likes.arun.im/">likes</a></li>
  <li class="google-plus"><a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">Google Plus</a></li>
  <li class="rss"><a href="http://feeds.feedburner.com/ArunAgrawal">RSS</a></li>
</ol>

